{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <form action="/auth/login" method="POST">
      <fieldset>
        {% if redirect %}
          <legend>You need to be logged in to view this page</legend>
        {% else %}
          <legend>Welcome Back, Please log in to continue</legend>
        {% endif %}
        <label class="form-label">Username:
        </label>
        <input
          type="text"
          name="username"
          placeholder="username"
          class="form-control"
          required>
        <label class="form-label">Password</label>
        <input
          type="password"
          name="password"
          placeholder="enter password"
          class="form-control"
          required>
      </fieldset>
      <input
        type="submit"
        value="Log In"
        class="mt-3 btn btn-success">
    </form>
    <hr>
    <legend>Don't have an account?
      <a href="/auth/signup" class="ms-3 btn btn-primary">Sign Up</a>
    </legend>
  </div>

{% endblock %}