{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/pokemon" method="POST">
        <fieldset>
            <legend>Create New Pokemon</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="Pokemon Name"
                class="form-control"
            >
            <label class="form-label">Type 1:</label>
            <input 
                type="text" 
                name="type1" 
                placeholder="enter 1st Type" 
                class="form-control"
            >
            <label class="form-label">Type 2:</label>
            <input 
                type="text" 
                name="type2" 
                placeholder="enter 2nd Type" 
                class="form-control"
            >
            <label class="form-label">Level:</label>
            <input 
                type="number" 
                name="level" 
                class="form-control"
                placeholder="Pokemon Level"
            >
        </fieldset>
        <input type="submit" value="Create New Pokemon" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-warning">
    </form>
</div>
{% endblock %}