{% layout "layout.liquid" %}
{% block content %}
  <div class="container-sm mt-3 mx-auto" style="text-align: center">
    <img
      src="logo.png"
      alt="Pokemon Teams"
      style="width: 95%;">
  </div>
  <div class="mx-auto row w-25">
    <a
      href="/pokedex?offset=0&limit=27"
      class="btn ms-3 mt-3"
      style="background: red; color: white;">PokeDex</a>
    <a href="/team/" class="btn btn-primary ms-3 mt-3">Created Teams</a>
    {% if loggedIn %}
      <a href="/team/new" class="btn btn-success ms-3 mt-3">
        New Team</a>
      <a href="/profile" class="btn btn-warning ms-3 mt-3">
        Your Profile</a>
      <a href="/auth/logout" class="btn btn-danger ms-3 mt-3">Log Out</a>
    {% else %}
      <a href="/auth/login" class="btn btn-success ms-3 mt-3">Log In with an existing Account</a>
      <a href="/auth/signup" class="btn btn-success ms-3 mt-3">Create an Account</a>


    {% endif %}
  </div>
  <div class="container-sm mx-auto m-3">
    <h3 class="mx-auto">Pokemon of the Day</h3>

    <div class="card ps-0 ms-3 mb-3" style="width: 16rem; border-radius: 200px; padding-left: -1px; height: 16rem; text-align: center; ">

      <a
        style="text-transform: capitalize; text-decoration: none; border-radius: 200px 200px 200px 200px;"
        href="/pokedex/{{ randomPokemon.data.name }}"
        class="">

        <h4 class="pt-3 mt-0 mb-0 ms-0" style="text-transform: capitalize; border-radius: 200px 200px 0 0; background-color: red; color: white; height: 8rem; width: 16rem; border-bottom: 25px solid black">{{ randomId  }} <br>{{ randomPokemon.data.name }}</h4>

        <div class="card-body">
            <img
              class="mt-0 mb-0"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ randomId }}.png"
              style="width:96px; height:96px"
              alt="na">
        </div>
      </a>
    </div>
  </div>


</div>{% endblock %}