{% layout "layout.liquid" %}
{% block content %}
<div class="container-sm mt-3" style="text-align: center">
<img src="https://fontmeme.com/temporary/612694a2d788aadb17ba479407b8ca88.png" alt="">
</div>
<div class="row">
    <a href="/pokemon/Dex?offset=0&limit=27" class="btn ms-3 mt-3" style="background: red; color: white;">PokeDex</a>
    <a href="/team/new" class="btn btn-primary ms-3 mt-3">NEW TEAM</a>
    </div>
{% endblock %}