{% layout "layout.liquid" %}
{% block content %}
<div class="container-sm mt-3" style="text-align: center">
<img src="logo.png" alt="Pokemon Teams" style="width: 95%;">
</div>
<div class="row">
    <a href="/pokemon/Dex?offset=0&limit=27" class="btn ms-3 mt-3" style="background: red; color: white;">PokeDex</a>
    <a href="/team/new" class="btn btn-primary ms-3 mt-3">
    New Team</a>
    </div>
{% endblock %}