{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/team" method="POST">
        <fieldset>
            <legend>Create New Team</legend>
            <hr>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="Name of the Team"
                class="form-control"
                required
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                placeholder="Brief description of the Team" 
                class="form-control"
                required
            >
            
        </fieldset>
        <input type="submit" value="Create New Team" class="btn btn-success mt-3">
        <input type="reset" value="Reset" class="btn btn-warning mt-3 ">
    </form>
</div>
{% endblock %}